/* app css stylesheet */

.menu {
  list-style: upper-latin;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.tblSpan
{
  width:200px;
  height:auto;
  margin:20px 20px 20px 20px;

}



 .menu input {
   width: 300px;
   background: transparent;
   border: 2px solid deepskyblue;
   border-radius: 4px;
   color: #5e5e5e;
   font-family: 'Exo', sans-serif;
   font-size: 16px;
   font-weight: 600;
   padding: 6px;
   margin-top: 10px;
 }

.menu button {
  width: 419px;
  height: 40px;
  background: deepskyblue;
  border: 2px solid #ffffff;
  cursor: pointer;
  border-radius: 4px;
  color: #ffffff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 6px;
  margin-top: 10px;
}

table {
  max-width: 960px;
  margin: 10px auto;
  border: 1px solid #FFF;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: #8a97a0;
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border: 1px solid #FFF;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}

th, td {
  text-align: left;
  padding: 20px;
  font-weight: 300;
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}
